<% if overlapping_tasks.present? %>
  <hr>
  <h3><strong style="color: red;">Пересекающиеся задачи</strong></h3>
  <table class="list issues">
    <thead>
    <tr>
      <th class="id">Номер задачи</th>
      <th class="subject">Тема задачи</th>
      <th class="start_date">Дата начала</th>
      <th class="due_date">Срок завершения</th>
      <th class="estimated_hours">Оценка задачи</th>
      <th class="project">Проект</th>
      <th class="fixed_version">Версия</th>
    </tr>
    </thead>
    <tbody>
    <% overlapping_tasks.each do |task| %>
      <tr>
        <td><%= link_to "##{task.id}", issue_path(task) %></td>
        <td><%= link_to task.subject, issue_path(task) %></td>
        <td><%= task.start_date %></td>
        <td><%= task.due_date %></td>
        <td><%= task.estimated_hours %></td>
        <td><%= task.project.name %></td>
        <td><%= task.fixed_version ? task.fixed_version.name : '-' %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <hr>
<% end %>
